CabinetMgr.Bll/Web References/ToolBarServiceRef/ToolBarServiceManage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToolBarAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="publishTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToolBarAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetToolBarAllResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBaoXiuDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceArea" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceParentCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBaoXiuDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetBaoXiuDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetToolBarAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetToolBarAll" />
  </wsdl:message>
  <wsdl:message name="GetToolBarAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetToolBarAllResponse" />
  </wsdl:message>
  <wsdl:message name="SetBaoXiuDateSoapIn">
    <wsdl:part name="parameters" element="tns:SetBaoXiuDate" />
  </wsdl:message>
  <wsdl:message name="SetBaoXiuDateSoapOut">
    <wsdl:part name="parameters" element="tns:SetBaoXiuDateResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetToolBarAllHttpPostIn">
    <wsdl:part name="publishTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetToolBarAllHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetBaoXiuDateHttpPostIn">
    <wsdl:part name="userCode" type="s:string" />
    <wsdl:part name="deviceCode" type="s:string" />
    <wsdl:part name="deviceName" type="s:string" />
    <wsdl:part name="deviceArea" type="s:string" />
    <wsdl:part name="deviceParentCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetBaoXiuDateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ToolBarServiceManageSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToolBarAll">
      <wsdl:input message="tns:GetToolBarAllSoapIn" />
      <wsdl:output message="tns:GetToolBarAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBaoXiuDate">
      <wsdl:input message="tns:SetBaoXiuDateSoapIn" />
      <wsdl:output message="tns:SetBaoXiuDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ToolBarServiceManageHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToolBarAll">
      <wsdl:input message="tns:GetToolBarAllHttpPostIn" />
      <wsdl:output message="tns:GetToolBarAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBaoXiuDate">
      <wsdl:input message="tns:SetBaoXiuDateHttpPostIn" />
      <wsdl:output message="tns:SetBaoXiuDateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ToolBarServiceManageSoap" type="tns:ToolBarServiceManageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToolBarAll">
      <soap:operation soapAction="http://tempuri.org/GetToolBarAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBaoXiuDate">
      <soap:operation soapAction="http://tempuri.org/SetBaoXiuDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ToolBarServiceManageSoap12" type="tns:ToolBarServiceManageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToolBarAll">
      <soap12:operation soapAction="http://tempuri.org/GetToolBarAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBaoXiuDate">
      <soap12:operation soapAction="http://tempuri.org/SetBaoXiuDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ToolBarServiceManageHttpPost" type="tns:ToolBarServiceManageHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToolBarAll">
      <http:operation location="/GetToolBarAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBaoXiuDate">
      <http:operation location="/SetBaoXiuDate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToolBarServiceManage">
    <wsdl:port name="ToolBarServiceManageSoap" binding="tns:ToolBarServiceManageSoap">
      <soap:address location="http://10.128.180.88:8991/ToolBarServiceManage.asmx" />
    </wsdl:port>
    <wsdl:port name="ToolBarServiceManageSoap12" binding="tns:ToolBarServiceManageSoap12">
      <soap12:address location="http://10.128.180.88:8991/ToolBarServiceManage.asmx" />
    </wsdl:port>
    <wsdl:port name="ToolBarServiceManageHttpPost" binding="tns:ToolBarServiceManageHttpPost">
      <http:address location="http://10.128.180.88:8991/ToolBarServiceManage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>