CabinetMgr.Bll/Web References/ToolServiceRef/ToolService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetToolBarAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lastSync" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToolBarAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetToolBarAllResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lastSync" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="cabinetName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllToolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllToolResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetToolBarAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetToolBarAll" />
  </wsdl:message>
  <wsdl:message name="GetToolBarAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetToolBarAllResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllToolSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTool" />
  </wsdl:message>
  <wsdl:message name="GetAllToolSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllToolResponse" />
  </wsdl:message>
  <wsdl:portType name="ToolServiceSoap">
    <wsdl:operation name="GetToolBarAll">
      <wsdl:input message="tns:GetToolBarAllSoapIn" />
      <wsdl:output message="tns:GetToolBarAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTool">
      <wsdl:input message="tns:GetAllToolSoapIn" />
      <wsdl:output message="tns:GetAllToolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ToolServiceSoap" type="tns:ToolServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToolBarAll">
      <soap:operation soapAction="http://tempuri.org/GetToolBarAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTool">
      <soap:operation soapAction="http://tempuri.org/GetAllTool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ToolServiceSoap12" type="tns:ToolServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToolBarAll">
      <soap12:operation soapAction="http://tempuri.org/GetToolBarAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTool">
      <soap12:operation soapAction="http://tempuri.org/GetAllTool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToolService">
    <wsdl:port name="ToolServiceSoap" binding="tns:ToolServiceSoap">
      <soap:address location="http://10.215.91.115:8080/ToolService/ToolService.asmx" />
    </wsdl:port>
    <wsdl:port name="ToolServiceSoap12" binding="tns:ToolServiceSoap12">
      <soap12:address location="http://10.215.91.115:8080/ToolService/ToolService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>